<!DOCTYPE html>
<html>
<head>
  <title>Apapp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
<footer>Realizado por Veronica V. Jose L.</footer>
</html>
